img {
    width: 100%;  
    padding-bottom: 20px; 
    
}

.container {
    background: #f7f7f7;
    box-shadow: 0 0 5px rgb(49, 44, 44);
    width: 50%;

}

#adduserContainer {
    width: 50%;
}

#inputContainer {
    width: 50%;
}

h1 {
    padding-top: 20px;
    padding-left: 30px;
}

.title {
    padding-top: 20px;
    padding-left: 30px;
}

li {
    background: whitesmoke;
}

li:nth-child(2n){
    background:white;
}

#submitButton {
    background-color: #536976;
    font-size: 18px;
    width: 100%;
    color: white;
    font-family: 'Vidaloka', serif;
    padding: 9px;
    border-radius: 4px;

}
body {
    font-family: 'Vidaloka', serif;

    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#footer {
    position: variable;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(41, 37, 37);
    text-align: center;  
    padding-top: 4px;
    margin-top: 25px;

}